.colorPalette{
    color: #439a86;
    color: #bcd8c1;
    color: #e9d985;
    color: #007991;
    color: #222e50;   
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Glory', sans-serif;
}

nav{
    width: 100%;
    background: #233070;
    height: 50px;
}

nav li{
    display: inline-block;
    padding: 0 10px;
    line-height: 50px;
}

nav ul{
    width: auto;
    float: right;
}

li{
    list-style: none;
}

a{
    font-size:  18px;
    text-decoration: none;
    color: #fff;
    line-height: 50px;
}

main{
    width: 75%;
    margin: 0 auto;
}

section{
    border-radius: 10px;
    margin:  30px 0;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}

article{
    align-items: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

P{
    font-size: 18px;
    width: 75%;
}

h1{
    font-size: 24px;
    margin-bottom: 5px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #233070;
    height: auto;
    margin-top: auto;
}

footer a{
    line-height: 15px;
}

img{
    height: 80%;
    margin: 2px;
}

.laptop{
    height: 100%;
    filter: drop-shadow(0px 8px 6px black);
}

.color{
    background: #ed7623;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.section-footer{
    margin: 0px;
    background: #233070;
    width: 75%;
}

.section-footer article{
    padding: 20px;
}

i{
    margin: 5px;
    color: #fff;
    font-size: 24px;
}

.sitefab{
    font-size: 50px;
    text-align: center;
}

.logo{
    margin: 0 auto;
    height: 100%;
    width: 75%;
}

nav li:hover{
    background: #fff;
    transition: 500ms;
}

nav li:hover a{
    color: #233070;
}

.bars{
    display: none;
}


@media only screen and (max-width: 1150px){
    section{
        flex-wrap: wrap;
    }
    .laptop{
        height: 280px;
        width: 396px;
    }

    .section-footer{
        flex-wrap: nowrap;
    }
}

@media only screen and (max-width: 550px){
    .laptop{
        height: 182px;
        width: 258px;
    }
    nav li{
        display: none;
    }

    .bars{
        display: initial;
        float: left;
    }

    .bars:hover nav li{
        display: initial;
    }
    .bars:hover i{
       color: #233070;
    }
}